body {
    font-family: 'Lexend Deca', sans-serif;
    max-width: 1440px;
    background-color: #F2F2F2;
    }

.wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    }

.container {
    padding: 171px 0;
    display: flex;
    flex-direction: row;
    max-width: 950px;
    }

.card__row {
    padding: 48px;
    display: flex;
    flex-direction: column;
    flex: 0 0 33.333%;
    }

.card__row img {
    max-width: 64px;
    max-height: 40px;
    }

.card__title {
    padding: 35px 0 0 0;
    font-family: 'Big Shoulders Display', cursive;
    color: #F2F2F2;
    text-transform: uppercase;
    font-size: 40px;
    }

.card__text {
    flex: 1 1 auto;
    padding: 25px 0;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    }

.card__button {
    background-color: hsl(0, 0%, 95%);
    margin: 83px 0 0 0;
    font-family: 'Lexend Deca', sans-serif;
    width: 146px;
    height: 48px;
    border-radius: 20px;
    font-size: 15px;
    transition: .5s;
    }

.orange-btn:hover, .cyan-btn:hover, .darkcyan-btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    }

.card1 {
    background-color: #E28625;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    }

.orange-btn {
    color: #E28625;
    }

.card2 {
    background-color: #006971;
    }

.cyan-btn {
    color: #006971;
    }

.card3 {
    background-color: #004140;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    }

.darkcyan-btn {
    color: #004140;
    }


@media (max-width: 327px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 5px;
        }

    .card__text{
        padding: 25px 0 0 0;
        }

    .card1 {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: unset;
        }

    .card3 {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: unset;
        }
    }